/* Various *******************************************************************/

dl.authored dt
{
    font-weight: bold;
    margin-top: 5px;
}

dl.authored dd
{
    margin-left: 20px;
    margin-bottom: 5px;
}

span.nolink
{
    font-weight: bold;
}

ul.autoOutline
{
}

li.outlineSectionEntry
{
}

div.outlineSectionEntrySummary
{
}

/* Media *********************************************************************/

div.ps_mediaNear
{
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.ps_mediaFar
{
    text-align: right;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.ps_mediaCenter
{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

span.ps_captionLead
{
    font-weight: bold;
    margin-right: .5em;
}

/* Glossary ******************************************************************/

DIV.clsTooltip
{
    border: 1px solid black;
    padding: 2px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: #FFFFAA;
    color: black;
    font-size: 8pt;
    font-family: Arial;
}

h1.ps_glossaryTitle
{
    color: #000000;
    font-size: 140%;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.ps_glossaryDiv
{
}

h2.ps_glossaryDivHeading
{
    color: Black;
    font-size: 115%;
    margin-top: 1em;
    margin-bottom: 0px;
}

div.ps_glossaryLetterBar
{
    font-size: 90%;
}

hr.ps_glossaryRule
{
    text-align: left;
    color: Black;
}

h3.ps_glossaryGroupHeading
{
    font-size: 120%;
    color: Gray;
    margin: 5px 0 5px 0;
}

div.ps_glossaryGroup
{
}

dl.ps_glossaryGroupList
{
    margin: 0;
    color: Black;
}

dt.ps_glossaryEntry
{
    font-weight: bold;
    margin-left: 2em;
}

dd.ps_glossaryEntry
{
    margin-left: 2em;
    margin-bottom: 2em;
}

div.ps_relatedEntry
{
    margin-bottom: 4px;
}

/* Bibliography***************************************************************/

div.bibliographStyle
{
    padding-top: 5px;
}

span.bibliographyNumber
{
}

span.bibliographyAuthor
{
    font-weight: bold;
}

span.bibliographyTitle
{
    font-style: italic;
}

span.bibliographyPublisher
{
}

sup.citation a:link a:visited a:active
{
    text-decoration: none;
}
